<h2>Add Fruit</h2>
<form (ngSubmit)="addFruit(fruitForm)" #fruitForm="ngForm">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" [(ngModel)]="name" required><br><br>
    <label for="">Color:</label><br>
    <input type="text" id="color" name="color" [(ngModel)]="color" required><br><br>
    <label for="origin">Origin:</label><br>
    <input type="text" id="origin" name="origin" [(ngModel)]="origin" required><br><br>
    <input type="submit" [disabled]="!fruitForm.valid" value="Add Fruit">
</form> 
