<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="doctor" class="com.examly.springapp.Doctor">
    </bean>
    
    <bean name="patient" class="com.examly.springapp.Patient">
    </bean>

    <bean name="appointmentService" class="com.examly.springapp.AppointmentService" autowire="byName">
    </bean>

</beans>
